#container {
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

#container-heading {
  color: rgb(45, 226, 230);
  animation: glitch 5s 5s infinite;
  font-style: italic;
  font-family: sans-serif;
  text-transform: uppercase;
}

#container-paragraph {
  color: rgb(45, 226, 230);
}

.flex-item {
  flex: 0 1 auto;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
