/* Header */

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 1.25rem;
}

header button {
    color: var(--color-text);
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.25rem;
    background: none;
    align-items: center;
    justify-content: center;
}

.header-actions {
    gap: 0.75rem;
    display: flex;
    align-items: center;
}

.header-actions button {
    padding: 0.25rem;
}

header .icon {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
}

#theme-toggle .icon-sun {
    display: none;
}

@media (prefers-color-scheme: dark) {
    #theme-toggle .icon-moon {
        display: none;
    }

    #theme-toggle .icon-sun {
        display: block;
    }
}

:root[data-theme="dark"] #theme-toggle .icon-moon {
    display: none;
}

:root[data-theme="dark"] #theme-toggle .icon-sun {
    display: block;
}

:root[data-theme="light"] #theme-toggle .icon-moon {
    display: block;
}

:root[data-theme="light"] #theme-toggle .icon-sun {
    display: none;
}
