#wrapper {
  min-height: inherit;
}

/* Flexbox */
.flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.flex-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.flex-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-item-default {
  flex: 0 1 auto;
}

/* Top, Bottom Content */
#top-content {
  width: 100%;
  min-height: 60vh;
}

#btm-content {
  width: 100%;
  min-height: 40vh;
  background-color: gray;
}

/* Header, Main, Footer */
#header {
  width: inherit;
  min-height: 10vh;
}

#main {
  width: inherit;
  min-height: 40vh;
}

#footer {
  width: inherit;
  min-height: 10vh;
  background-color: green;
}

/* Header Content */
#header-title {
  width: 100%;
  min-height: 10vh;
}

#header h1 {
  padding-left: 10px;

  /* Font Settings */
  font-size: 36px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

/* Main Content */
#main ul {
  padding-left: 30px;

  /* Font Settings */
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

@media (min-width: 768px) {
  /* Flexbox */
  .flex-wrapper {
    flex-flow: row nowrap;
  }

  /* Top, Bottom Content */
  #top-content {
    min-height: 100vh;
  }
  
  #btm-content {
    min-height: 100vh;
  }

  /* Header, Main, Footer */
  #header {
    min-height: 25vh;
  }

  #main {
    min-height: 50vh;
  }

  #footer {
    min-height: 25vh;
  }

  /* Header Content */
  #header-title {
    min-height: 25vh;
  }
}
